#include <iostream>

using namespace std;

int main()
{

    int x, y;
    cout << "ievadit divus skaitlus" << endl;
    cin >> x;
    cin >> y;

    for(int z = 1; z<=y; z++){
    //parbauda vai ir atlikums
    if(x%z==0 and y%z==0){
    cout << "\n" << z;
    }
    }

}